.message-box {
  .messages-list {
    height: 500px;
    padding-left: 10px;
    overflow-y: scroll;
  }
  .message-item {
    font-size: 20px;
    word-wrap: break-word;
  }
  .message-input {
    position: relative;
    input {
      width: 80%;
      height: 100%;
      border: none;
      margin: 0 auto;
      box-shadow: none;
      display: block;
    }
    button {
      width: 50px;
      border: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 7%;
    }
  }
}
